* {
  box-sizing: border-box;
}

body{
  background-image: url("../assets/images/Achtergrond.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}
html, body {
  margin: 0;
  padding: 0;
}

center img{
  margin-left: 8rem;
  margin-bottom: 3rem;
}
.logo{
  width: 400px;
  float: left;
  margin-top: 50px;
  margin-left: 70px;
  display: block;
}

.container {
  position: relative;
  width: 30%;
}

.image {
  display: block;
  width: 200;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 20px;
  font-family: 'Crimson Text';
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.mySlides{
  margin: auto;
  display: block;
}


.enter{
  width: 33%;
}

.button {
    display: inline-block;
    font-weight: bold;
    padding: .25em .5em;
    text-decoration: none;
}
.button:hover {
    text-decoration: none;
}
.button--default,
.button--default:active,
.button--default:visited {
    background-color: rgba(20,115,141,0.7);
    color: rgba(102,195,203,1.0)
    
}
.button--default:hover {
    background-color: rgba(165,39,37,0.7);
    color: rgba(173,92,51,1.0)
}
.button--primary,
.button--primary:active,
.button--primary:visited {
    background-color: rgba(165,39,37,0.7);
   color: rgba(173,92,51,1.0)
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}

.element{
    background-color: #EEE;
    border: .25rem solid #FFF;
    box-shadow: 0 0 1px #000;
    float: left;
    height: 8.5rem;
    width: 8.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    position: relative;
}

.color{
    background-color: #EEE;
    border: .25rem solid #000;
    box-shadow: 0 0 1px #000;
    float: left;
    height: 3.5rem;
    width: 3.5rem;
    margin-left: 1rem;
}
.color-a{
  background-color: rgba(20,115,141,1.00)
}
.color-b{
  background-color: rgba(63,133,198,1.00)
}
.color-c{
  background-color: rgba(102,195,203,1.00)
}
.color-d{
  background-color: rgba(22,37,62,1.00)
}
.color-e{
  background-color: rgba(4,5,10,1.00)
}
.color-f{
  background-color: rgba(165,39,37,1.00)
}